html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    font-weight: 300;
    color: #62686f;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}


.container {
    width: 960px;
    margin: 0 auto;
}
.main-header {
    margin-top: 125px;
    padding: 1px;
    text-align: center;
    background-image: url(../img/banner.jpg);
}
.main-header h1 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    text-shadow: 0 1px rgba(0, 0, 0 , 0.3);
}
.main-header__avatar {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 20px;
    padding: 1px;
    border: 3px solid #fff;
    border-radius: 999px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.main-nav {
    padding: 1px;
    text-align: center;
    background-color: #333;
}
.main-nav ul {
    padding-left: 0;
}
.main-nav ul li {
    display: inline-block;
    margin: 15px 10px;
}
.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav ul li a:hover {
    text-decoration: underline;
}


.info-section {
    padding: 30px 60px;
    background-color: #fff;
}
.info-section header {
    text-align: center;
    margin-bottom: 60px;
}
.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.info-section header h2:after {
    content: "";
    display: block;
    width: 100px;
    margin: 20px auto;
    border-bottom: 3px solid black;
}
.info-section__description {
    font-style: italic;
}
.whatido__skill-list {
    /* overflow: hidden; */
    list-style: none;
    padding-left: 0;
}
.whatido__skill-list:after {
    content: "";
    clear: both;
    display: table;
}

.whatido {
    text-align: center;
}
.whatido__skill {
    float: left;
    width: 33%;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: center top;
}
.whatido__skill--code {
    background-image: url(../img/skill-code.png);
}
.whatido__skill--design {
    background-image: url(../img/skill-design.png);
}
.whatido__skill--product {
    background-image: url(../img/skill-product.png);
}

.education-experience__list {
    list-style: none;
    padding-left: 0;
}
.education-experience__list img {
    float: left;
    width: 180px;
    margin-right: 40px;
}
.education-experience__list li {
    margin: 80px 0;
    /* overflow: hidden; */
}
.education-experience__list li:after {
    content: "";
    display: table;
    clear: both;
}
.education-experience__title {
    font-weight: bold;
}
.education-experience__description {
    overflow: hidden;
}

.photos img {
    width: 100%;
    padding: 10px;
}
.photos__list {
    list-style: none;
    padding-left: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.photos__list li {
    /* flex-basis: 25%; */
    float: left;
    width: 25%;
}
.photos {
    overflow: hidden;
}


.get-in-touch__list {
    list-style: none;
    padding: 0 20px;
}
.get-in-touch__list li {
    float: left;
    padding: 30px;
    width: 25%;
    text-align: center;
}
.get-in-touch__list li img {
    width: 100%;
}
.get-in-touch {
    overflow: hidden;
}


.contact input,
.contact textarea {
    width: 100%;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact button {
    width: 100%;
    height: 2rem;
    margin-top: 20px;
    border: none;
    border-radius: 999px;

    background-color: #f2c220;

    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 0 #daae1d;
}
.contact button:hover {
    background-color: #ffd524;
}
.contact form {
    position: relative;
    width: 40%;
    margin: 0 auto;
}
.contact label {
    position: absolute;
    right: 100%;
    width: 200px;
    padding: 13px; /* 8 + 5 */
    text-align: right;
}


@media only screen and (max-width : 960px) {
    .container {
        width: 100%;
    }
    .main-header h1 {
        font-size: 32px;
    }
    .main-nav ul li {
        display: block;
    }

    .info-section {
        padding: 10px;
    }
    .whatido__skill {
        margin-bottom: 40px;
        width: 100%;
    }
    .education-experience__list img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .education-experience header span {
        display: block;
    }

    .photos__list li {
        width: 100%;
    }
    .get-in-touch__list li {
        width: 50%;
    }
    .contact form {
        width: 90%;
    }
    .contact label {
        padding-left: 0;
        position: static;
    }
}
